* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /*  IE & Edge  */
  scrollbar-width: none; /*  firefox  */
}

.headerSection {
  width: 100%;
  height: 15vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.94);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 1;

  .naviLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 50%;
    height: 100vh;
    right: 0;
    text-align: center;
    justify-content: space-evenly;
    list-style: none;
    background: #151515;
    opacity: 0;
    clip-path: circle(200px at 140% -5%);
    -webkit-clip-path: circle(200px at 140% -5%);
    transition: all 0.5s ease-out; // fading menu

    .navLi {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #5b78c7;
      }

      a {
        cursor: pointer;
        font-size: 2.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: #eceef4;

        &:hover {
          text-decoration: underline;
          text-decoration-color: #fff;
        }
      }
    }
  }

  .naviLinks.openNav {
    opacity: 1;
    clip-path: circle(2000px at 20% 10%);
    -webkit-clip-path: circle(2000px at 20% 10%);
    transition: all 0.5s ease-out;
    pointer-events: all;
  }

  .navSection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      flex: 1;
      list-style: none;

      .logo {
        font-size: 2rem;
        padding: 5rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
      }

      .navToggle {
        margin-left: auto;
        padding: 5rem;
        z-index: 999;

        .toggleSvgOpen {
          font-size: 2rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
        }

        .toggleSvgOpen,
        .toggleSvgClose {
          cursor: pointer;
        }

        .toggleSvgOpen.svgOpen {
          display: none;
        }

        .toggleSvgClose {
          display: none;
        }

        .toggleSvgClose.closeSvg {
          display: block;
        }
      }
    }
  }
}

.intro {
  width: 100%;
  height: 100vh;
  background: #080f0f;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: fixed;

  .introH1 {
    color: #fff;
    font-size: 16rem;
    font-family: "Open Sans", Sans-serif;
    opacity: 0;
    text-align: center;
  }
}

.mainSection {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .txtContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .txtArea {
      background: #fff;
      width: 70%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-family: "Open Sans", sans-serif;

      .webdevTxt {
        font-size: 6rem;
      }

      .mainP {
        font-size: 5rem;
        line-height: 1.5;
      }
    }
  }
}

.aboutSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;

  .box1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .aboutH1 {
      font-size: 5rem;
      font-family: "Open Sans", sans-serif;
      color: #1c1d20;
      padding: 1rem;
    }
  }

  .box2 {
    width: 100%;
    display: flex;

    .aboutP {
      text-align: center;
      font-size: 2rem;
      line-height: 2;
      font-family: "Poppins", sans-serif;
      padding: 8rem;
    }
  }

  .toTopBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 99;
    background: #080f0f;
    border-radius: 5rem;

    border: 0.8px solid #5b78c7;
    font-size: 4rem;
    display: none;
    color: #fff;

    &:hover {
      background: #5b78c7;
    }

    .toTopArrow {
      margin-bottom: 0.6rem;
    }
  }
}

.projectSection {
  background: #fff;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;

  .projectTxt {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;

    .projectH1 {
      font-size: 5rem;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      margin: 2rem;
    }

    .projectP {
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      text-align: center;
      line-height: 2;
    }
  }

  .devTools {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .mainTools,
    .supTools {
      width: 100%;
      height: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .svgPack {
        display: flex;
        justify-content: center;

        .toolsBundle {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1.5rem;
          font-family: "Poppins", sans-serif;
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.projectTxt2 {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem;

  h1 {
    font-size: 5rem;
    font-family: "Open Sans", sans-serif;
    margin: 2rem;
  }
  p {
    font-family: "Poppins", sans-serif;
    line-height: 2;
    font-size: 2rem;
  }
}

.projectDesktop {
  height: 100vh;
  width: 100%;
  display: flex;

  .cardTxtContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem;
    text-align: start;

    h1 {
      font-size: 3rem;
      font-family: "Open Sans", sans-serif;
    }

    p {
      font-size: 2rem;
      line-height: 2;
      font-family: "Poppins", sans-serif;
      margin-right: 5%;
    }

    .cardBtns {
      width: 10rem;
      height: 4rem;
      background: #080f0f;
      color: #fff;
      border-radius: 1rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      font-size: 1.5rem;
      font-family: "Poppins", sans-serif;
      margin-top: 2rem;

      &:hover {
        background: #5b78c7;
        cursor: pointer;
      }
    }
  }

  .cardImgContainer {
    width: 50%;
    background: rgba(255, 255, 255, 0.41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    .photo {
      width: 80%;
      height: 80%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .topSection {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .bottomSection {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
}

.projectCardMobile {
  display: none;
}

.contactContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  background: #fff;

  .txtBox {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem;

    h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 5rem;
      margin-bottom: 0.8rem;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      line-height: 2;
    }
  }
}

.footContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footBox1 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 6rem;
      font-weight: 600;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      line-height: 2;
      padding: 8rem;
    }
  }

  .footBox2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background: #080f0f;
    padding: 2rem;

    .socialLinks {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      color: #fff;
      font-family: "Poppins", sans-serif;
      align-items: center;

      li {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        &:hover {
          .socials,
          p {
            fill: #5b78c7;
            color: #5b78c7;
            cursor: pointer;
          }
        }

        p {
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }

    .copyRightDiv {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .headerSection {
    width: 100vw;
    .naviLinks {
      width: 100%;
    }
  }

  .intro {
    width: 100vw;
    height: 100vh;
    .introH1 {
      font-size: 10rem;
    }
  }

  .mainSection {
    width: 100vw;
    height: 100vh;

    .txtContainer {
      .txtArea {
        width: 100%;
        padding: 5rem;

        .picContainer {
          padding: 2rem;
        }

        .webdevTxt {
          font-size: 3rem;
          font-weight: 600;
        }

        .mainP {
          font-size: 3rem;
        }
      }
    }
  }

  .aboutSection {
    .box1 {
      .profilePic {
        width: 250px;
        width: 250px;
      }
      .aboutH1 {
        text-align: center;
        padding: 2rem;
      }
    }

    .box2 {
      .aboutP {
        padding: 5rem;
      }
    }
  }

  .projectSection {
    height: 140vh;
    flex-direction: column;

    .projectTxt {
      width: 100%;
      height: 50%;
      padding: 5rem;
    }

    .devTools {
      height: 50%;
      width: 100%;
      .mainTools,
      .supTools {
        .svgPack {
          width: 55%;
          height: 100%;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 2.5rem;

          .toolsBundle {
            flex: 1;
            padding: 0.5rem;
          }
        }
      }
    }
  }

  .projectTxt2 {
    width: 100vw;
    height: 60vh;
    padding: 5rem;
  }

  .projectDesktop {
    display: none;
  }

  .projectCardMobile {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    .mobileCards {
      width: 100%;
      height: 100%;
      padding: 2rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      background: #fff;
      margin-bottom: 10rem;
      border-radius: 3rem;

      img {
        width: 100%;
        height: 50%;
      }

      .mCardTxt {
        width: 100%;
        height: 50%;
        line-height: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 2rem;

        h1 {
          font-size: 3rem;
          font-family: "Open Sans", sans-serif;
        }

        p {
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
        }

        .cardBtns {
          width: 10rem;
          height: 4rem;
          border: none;
          border-radius: 1rem;
          background: #080f0f;
          color: #fff;
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
          margin-top: 2rem;

          &:hover {
            background: #5b78c7;
            cursor: pointer;
          }
        }
      }
    }
  }

  .contactContainer {
    width: 100vw;
    .txtBox {
      padding: 5rem;

      p {
        margin-top: 3rem;
      }
    }
  }

  .footContainer {
    .footBox1 {
      h1 {
        font-size: 5rem;
      }
      p {
        padding: 5rem;
      }
    }
  }
}
