* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-overflow-style: none; /*  IE & Edge  */
  scrollbar-width: none; /*  firefox  */
}
* ::-webkit-scrollbar {
  display: none;
}

#circularcursor {
  background: #04773b;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.headerSection {
  width: 100%;
  height: 15vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.94);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 1;
}
.headerSection .naviLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 50%;
  height: 100vh;
  right: 0;
  text-align: center;
  justify-content: space-evenly;
  list-style: none;
  background: #151515;
  opacity: 0;
  clip-path: circle(200px at 140% -5%);
  -webkit-clip-path: circle(200px at 140% -5%);
  transition: all 0.5s ease-out;
}
.headerSection .naviLinks .navLi {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerSection .naviLinks .navLi:hover {
  background: #5b78c7;
}
.headerSection .naviLinks .navLi a {
  cursor: pointer;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #eceef4;
}
.headerSection .naviLinks .navLi a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}
.headerSection .naviLinks.openNav {
  opacity: 1;
  clip-path: circle(2000px at 20% 10%);
  -webkit-clip-path: circle(2000px at 20% 10%);
  transition: all 0.5s ease-out;
  pointer-events: all;
}
.headerSection .navSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.headerSection .navSection ul {
  display: flex;
  align-items: center;
  flex: 1;
  list-style: none;
}
.headerSection .navSection ul .logo {
  font-size: 2rem;
  padding: 5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.headerSection .navSection ul .navToggle {
  margin-left: auto;
  padding: 5rem;
  z-index: 999;
}
.headerSection .navSection ul .navToggle .toggleSvgOpen {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.headerSection .navSection ul .navToggle .toggleSvgOpen,
.headerSection .navSection ul .navToggle .toggleSvgClose {
  cursor: pointer;
}
.headerSection .navSection ul .navToggle .toggleSvgOpen.svgOpen {
  display: none;
}
.headerSection .navSection ul .navToggle .toggleSvgClose {
  display: none;
}
.headerSection .navSection ul .navToggle .toggleSvgClose.closeSvg {
  display: block;
}

.intro {
  width: 100%;
  height: 100vh;
  background: #080f0f;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: fixed;
}
.intro .introH1 {
  color: #fff;
  font-size: 16rem;
  font-family: "Open Sans", Sans-serif;
  opacity: 0;
  text-align: center;
}

.mainSection {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainSection .txtContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSection .txtContainer .txtArea {
  background: #fff;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.mainSection .txtContainer .txtArea .webdevTxt {
  font-size: 6rem;
}
.mainSection .txtContainer .txtArea .mainP {
  font-size: 5rem;
  line-height: 1.5;
}

.aboutSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.aboutSection .box1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutSection .box1 .aboutH1 {
  font-size: 5rem;
  font-family: "Open Sans", sans-serif;
  color: #1c1d20;
  padding: 1rem;
}
.aboutSection .box2 {
  width: 100%;
  display: flex;
}
.aboutSection .box2 .aboutP {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  font-family: "Poppins", sans-serif;
  padding: 8rem;
}

.projectSection {
  background: #fff;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
.projectSection .projectTxt {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}
.projectSection .projectTxt .projectH1 {
  font-size: 5rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 2rem;
}
.projectSection .projectTxt .projectP {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 2;
}
.projectSection .devTools {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.projectSection .devTools .mainTools,
.projectSection .devTools .supTools {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectSection .devTools .mainTools .svgPack,
.projectSection .devTools .supTools .svgPack {
  display: flex;
  justify-content: center;
}
.projectSection .devTools .mainTools .svgPack .toolsBundle,
.projectSection .devTools .supTools .svgPack .toolsBundle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.projectSection .devTools .mainTools .svgPack .toolsBundle p,
.projectSection .devTools .supTools .svgPack .toolsBundle p {
  font-size: 2rem;
}

.projectTxt2 {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem;
}
.projectTxt2 h1 {
  font-size: 5rem;
  font-family: "Open Sans", sans-serif;
  margin: 2rem;
}
.projectTxt2 p {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 2rem;
}

.projectCards {
  display: flex;
  width: 100%;
  height: 100%;
}
.projectCards .left {
  width: 50%;
}
.projectCards .left .detailsWrapper {
  margin: auto;
  width: 80%;
}
.projectCards .left .detailsWrapper .cards {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: start;
}
.projectCards .left .detailsWrapper .cards h1 {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}
.projectCards .left .detailsWrapper .cards p {
  font-size: 2rem;
  line-height: 2;
  font-family: "Poppins", sans-serif;
  margin-right: 5%;
}
.projectCards .left .detailsWrapper .cards .cardBtns {
  width: 10rem;
  height: 4rem;
  background: #080f0f;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}
.projectCards .left .detailsWrapper .cards .cardBtns:hover {
  background: #5b78c7;
  cursor: pointer;
}
.projectCards .right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectCards .right .photos {
  width: 40vw;
  height: 40vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  z-index: 20;
}
.projectCards .right .photos .photo {
  position: absolute;
  width: 98%;
  height: 98%;
}
.projectCards .right .photos .photo img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.projectCardMobile {
  display: none;
}

.contactContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  background: #fff;
}
.contactContainer .txtBox {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
}
.contactContainer .txtBox h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  margin-bottom: 0.8rem;
}
.contactContainer .txtBox p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 2;
}

.footContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footContainer .footBox1 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footContainer .footBox1 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 6rem;
  font-weight: 600;
}
.footContainer .footBox1 p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 2;
  padding: 8rem;
}
.footContainer .footBox2 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  background: #080f0f;
  padding: 2rem;
}
.footContainer .footBox2 .socialLinks {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
.footContainer .footBox2 .socialLinks li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.footContainer .footBox2 .socialLinks li:hover .socials,
.footContainer .footBox2 .socialLinks li:hover p {
  fill: #5b78c7;
  color: #5b78c7;
  cursor: pointer;
}
.footContainer .footBox2 .socialLinks li p {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.footContainer .footBox2 .copyRightDiv {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footContainer .footBox2 .copyRightDiv p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  #circularcursor {
    display: none;
  }
  .headerSection {
    width: 100vw;
  }
  .headerSection .naviLinks {
    width: 100%;
  }
  .intro {
    width: 100vw;
    height: 100vh;
  }
  .intro .introH1 {
    font-size: 10rem;
  }
  .mainSection {
    width: 100vw;
    height: 100vh;
  }
  .mainSection .txtContainer .txtArea {
    width: 100%;
  }
  .mainSection .txtContainer .txtArea .webdevTxt {
    font-size: 5rem;
  }
  .mainSection .txtContainer .txtArea .mainP {
    font-size: 3rem;
  }
  .aboutSection .box1 .aboutH1 {
    text-align: center;
    padding: 2rem;
  }
  .aboutSection .box2 .aboutP {
    padding: 5rem;
  }
  .projectSection {
    height: 120vh;
    flex-direction: column;
  }
  .projectSection .projectTxt {
    width: 100%;
    height: 50%;
    padding: 5rem;
  }
  .projectSection .devTools {
    height: 50%;
    width: 100%;
  }
  .projectSection .devTools .mainTools,
  .projectSection .devTools .supTools {
    flex-direction: row;
  }
  .projectSection .devTools .mainTools .svgPack,
  .projectSection .devTools .supTools .svgPack {
    width: 60%;
    flex-wrap: wrap;
  }
  .projectTxt2 {
    width: 100vw;
    height: 60vh;
    padding: 5rem;
  }
  .projectCardSection {
    display: none;
  }
  .projectCardSection .projectCards {
    display: none;
  }
  .projectCardMobile {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .projectCardMobile .mobileCards {
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-bottom: 10rem;
    border-radius: 3rem;
  }
  .projectCardMobile .mobileCards img {
    width: 100%;
    height: 50%;
  }
  .projectCardMobile .mobileCards .mCardTxt {
    width: 100%;
    height: 50%;
    line-height: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .projectCardMobile .mobileCards .mCardTxt h1 {
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
  }
  .projectCardMobile .mobileCards .mCardTxt p {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }
  .projectCardMobile .mobileCards .mCardTxt .cardBtns {
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    background: #080f0f;
    color: #fff;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    margin-top: 2rem;
  }
  .projectCardMobile .mobileCards .mCardTxt .cardBtns:hover {
    background: #5b78c7;
    cursor: pointer;
  }
  .contactContainer {
    width: 100vw;
  }
  .contactContainer .txtBox {
    padding: 5rem;
  }
  .contactContainer .txtBox p {
    margin-top: 3rem;
  }
  .footContainer .footBox1 h1 {
    font-size: 5rem;
  }
  .footContainer .footBox1 p {
    padding: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */