* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /*  IE & Edge  */
  scrollbar-width: none; /*  firefox  */
}
//body {
//color: #fff;
//background: #080f0f;
//}

#circularcursor {
  background: #04773b;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.headerSection {
  width: 100%;
  height: 15vh;
  position: fixed;
  //z-index: 98;
  background: rgba(255, 255, 255, 0.94);
  //border-radius: 16px;
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  //border: 2px solid #d82929f6;
  opacity: 1;

  .naviLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 50%;
    height: 100vh;
    right: 0;
    text-align: center;
    justify-content: space-evenly;
    list-style: none;
    background: #151515;
    //border-radius: 16px;
    //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //backdrop-filter: blur(5px);
    //-webkit-backdrop-filter: blur(5px);
    //border: 1px solid rgba(91, 120, 199, 0.3);
    opacity: 0;
    clip-path: circle(200px at 140% -5%);
    -webkit-clip-path: circle(200px at 140% -5%);
    transition: all 0.5s ease-out; // fading menu

    .navLi {
      //border: 2px solid white;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        //background: #2a3f7a;
        background: #5b78c7;
      }

      a {
        cursor: pointer;
        font-size: 2.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: #eceef4;

        &:hover {
          //font-size: 4rem;
          //font-weight: 800;
          text-decoration: underline;
          text-decoration-color: #fff;
          //font-style: italic;
        }
        //border: 2px solid red;
      }
    }
  }

  .naviLinks.openNav {
    //display: inline;
    opacity: 1;
    clip-path: circle(2000px at 20% 10%);
    -webkit-clip-path: circle(2000px at 20% 10%);
    transition: all 0.5s ease-out;
    pointer-events: all;
  }

  .navSection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    //z-index: 99;
    //border: 2px solid red;

    ul {
      display: flex;
      align-items: center;
      flex: 1;
      list-style: none;
      //border: 2px solid blue;

      .logo {
        font-size: 2rem;
        padding: 5rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
      }

      .navToggle {
        //position: absolute;
        margin-left: auto;
        padding: 5rem;
        z-index: 999;

        .toggleSvgOpen {
          font-size: 2rem;
          //padding: 2rem;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
        }

        .toggleSvgOpen,
        .toggleSvgClose {
          cursor: pointer;
        }

        .toggleSvgOpen.svgOpen {
          display: none;
        }

        .toggleSvgClose {
          display: none;
        }

        .toggleSvgClose.closeSvg {
          display: block;
        }
      }
    }
  }
}

.intro {
  width: 100%;
  height: 100vh;
  background: #080f0f;
  z-index: 99;
  display: flex;
  //display: none;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: fixed;

  .introH1 {
    color: #fff;
    font-size: 16rem;
    font-family: "Open Sans", Sans-serif;
    opacity: 0;
    text-align: center;
  }
}

.mainSection {
  width: 100%;
  height: 100vh;
  border: 2px solid blue;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .txtContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .txtArea {
      background: #fff;
      width: 60%;
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-family: "Open Sans", sans-serif; //applies to anything in txtarea unless specified
      //border: 1px solid red;
      .webdevTxt {
        //if gsap scroll doesnt work then span outside of txtarea
        font-size: 6rem;
        //font-weight: 600;
        //border: 1px solid green;
      }

      .mainP {
        font-size: 5rem;
        //font-weight: 300;
        line-height: 1.5;
      }
    }
  }

  .arrowContainer {
    display: none;
    //will come back to this later
    width: 100%;
    height: 15%;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow {
      margin: 5rem;
      opacity: 1;
      display: none;
    }
  }
}

.aboutSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  //border: 2px solid red;

  .box1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 2px solid peru;

    .aboutH1 {
      font-size: 5rem;
      font-family: "Open Sans", sans-serif;
      color: #1c1d20;
      padding: 1rem;
    }
  }

  .box2 {
    width: 100%;
    //height: auto;
    display: flex;
    //border: 2px solid green;

    .aboutP {
      text-align: center;
      font-size: 2rem;
      line-height: 2;
      font-family: "Poppins", sans-serif;
      padding: 8rem;

      //border: 2px solid red;
    }
  }
}

.projectSection {
  background: #fff;
  width: 100vw;
  height: 80vh;
  display: flex;
  //flex-direction: column;
  align-items: center;
  // border: 2px solid red;

  .projectTxt {
    width: 50%;
    height: 100%;
    //border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;

    .projectH1 {
      font-size: 5rem;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      margin: 2rem;
    }

    .projectP {
      //padding: 2rem;
      //border: 1px solid pink;
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      text-align: center;
      line-height: 2;

      //color: #1c1d20;
    }
  }

  .devTools {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    // padding: 2.5rem;
    //border: 2px solid blue;

    .mainTools,
    .supTools {
      width: 100%;
      height: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      //overflow: hidden;
      //padding: 1rem;
      //border: 2px solid green;

      .svgPack {
        display: flex;
        justify-content: center;

        //border: 1px solid red;
        //padding: 1.5rem;

        .toolsBundle {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1.5rem;
          font-family: "Poppins", sans-serif;
          //border: 1px solid rgb(225, 0, 255);
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.projectTxt2 {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem;
  //border: 1px solid blue;
  h1 {
    font-size: 5rem;
    font-family: "Open Sans", sans-serif;
    margin: 2rem;
  }
  p {
    font-family: "Poppins", sans-serif;
    //padding: 10rem;
    line-height: 2;
    font-size: 2rem;

    //border: 2px solid green;
  }
}

.projectCards {
  display: flex;
  //border: 2px solid green;
  width: 100%;
  height: 100%;

  .left {
    width: 50%;

    .detailsWrapper {
      margin: auto;
      width: 80%;
      //border: 1px solid orange;
      .cards {
        height: 100vh;
        //outline:1px solid green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        text-align: start;

        h1 {
          font-size: 3rem;
          font-family: "Open Sans", sans-serif;
          //color: #151515;
        }

        p {
          font-size: 2rem;
          line-height: 2;
          font-family: "Poppins", sans-serif;
          margin-right: 5%;
        }

        .cardBtns {
          width: 15rem;
          height: 5rem;
          background: rgba(255, 255, 255, 0.41);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
          margin-top: 2rem;
          opacity: 0.5;

          &:hover {
            color: #fff;
            background: #5b78c7;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }

  .right {
    //outline: 1px solid purple;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .photos {
      width: 40vw;
      height: 40vw;
      //background: #5b78c7;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      z-index: 20;

      .photo {
        position: absolute;
        width: 98%;
        height: 98%;
        //border-radius: 1rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
        }
      }
    }
  }
}

.projectCardMobile {
  display: none;
}

.contactContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;

  //border: 2px solid greenyellow;
  background: #fff;

  .txtBox {
    width: 100%;
    height: 100%;
    //margin: 2%;
    //border: 2px solid violet;
    display: flex;
    text-align: center;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem;

    h1 {
      font-family: "Open Sans", sans-serif;
      //color: #1c1d20;
      font-size: 5rem;
      //font-weight: 600;
      margin-bottom: 0.8rem;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      line-height: 2;
      //margin-right: 5rem;
    }
  }
}

.footContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  // border-radius: 30px 30px 0 0;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  //background: #080f0f;
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  .footBox1 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    //border: 2px solid red;
    h1 {
      font-family: "Open Sans", sans-serif;
      //color: #fff;
      font-size: 6rem;
      font-weight: 600;
      //margin-bottom: 1rem;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      //color: #fff;
      line-height: 2;
      padding: 8rem;
      //margin-right: 5rem;
    }
  }

  //original state
  .footBox2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background: #080f0f;
    padding: 2rem;
    //align-items: center;
    //justify-content: space-evenly;
    //border: 2px solid red;

    .socialLinks {
      width: 100%;
      height: 50%;
      display: flex;
      //flex-direction: column;
      justify-content: center;
      color: #fff;
      //font-size: 2rem;
      font-family: "Poppins", sans-serif;
      align-items: center;
      //border: 1px solid white;

      li {
        list-style: none;
        //line-height: 1.5;
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        &:hover {
          .socials,
          p {
            fill: #5b78c7;
            color: #5b78c7;
            cursor: pointer;
          }
        }

        p {
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
          //font-weight: 200;
        }
      }
    }

    .copyRightDiv {
      width: 100%;
      height: 50%;
      //border: 1px solid green;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #circularcursor {
    display: none;
  }
  .headerSection {
    width: 100vw;
    .naviLinks {
      width: 100%;
    }
  }

  .intro {
    width: 100vw;
    height: 100vh;
    .introH1 {
      font-size: 10rem;
    }
  }

  .mainSection {
    width: 100vw;
    height: 100vh;
    //border: 2px solid #5b78c7;

    .txtContainer {
      //width: 60%;
      //height: 60%;
      //padding: 3rem;
      //line-height: 2;
      //border: 2px solid red;

      .txtArea {
        //border: 1px solid green;
        width: 80%;

        .webdevTxt {
          font-size: 5rem;
          //text-align: center;
          //font-weight: 600;
        }

        .mainP {
          font-size: 3rem;
          //line-height: ;
        }
      }
    }
  }

  .aboutSection {
    //border: 1px solid red;
    .box1 {
      .aboutH1 {
        text-align: center;
        padding: 2rem;
      }
    }

    .box2 {
      .aboutP {
        padding: 5rem;
        //font-size: 2.5rem;
      }
    }
  }

  .projectSection {
    height: 120vh;
    flex-direction: column;
    //border: 2px solid green;

    .projectTxt {
      width: 100%;
      height: 50%;
      padding: 5rem;
    }

    .devTools {
      height: 50%;
      width: 100%;
      //border: 2px solid green;
      //flex-direction: column;
      .mainTools,
      .supTools {
        flex-direction: row;
        //border: 1px solid blue;
        //flex-wrap: wrap;
        .svgPack {
          //border: 1px solid red;
          width: 60%;
          //flex-direction: column;
          flex-wrap: wrap;
        }
      }
    }
  }

  .projectTxt2 {
    width: 100vw;
    height: 60vh;
    padding: 5rem;
    //background: #2a3f7a;
    //color: #fff;
    //border: 2px solid purple;
  }

  .projectCardSection {
    display: none;

    .projectCards {
      display: none;
    }
  }

  .projectCardMobile {
    width: 100vw;
    height: 100%;
    //border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    //background: #151515;

    .mobileCards {
      width: 100%;
      height: 100%;
      padding: 2rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      background: #fff;
      //margin-top: 3rem;
      margin-bottom: 10rem;
      border-radius: 3rem;

      img {
        width: 100%;
        height: 50%;
      }

      .mCardTxt {
        width: 100%;
        height: 50%;
        line-height: 2;
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
        //border: 2px solid lightblue;
        padding: 2rem;

        h1 {
          font-size: 3rem;
          font-family: "Open Sans", sans-serif;
          //color: #;
        }

        p {
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
        }

        .cardBtns {
          width: 15rem;
          height: 5rem;
          border: none;
          border-left: 1px solid black;
          border-right: 1px solid black;
          border-radius: 1rem;
          //box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
          background: #fff;
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
          margin-top: 2rem;
          opacity: 0.5;

          &:hover {
            color: #fff;
            background: #5b78c7;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }

  .contactContainer {
    width: 100vw;
    //height: 60vh;
    .txtBox {
      padding: 5rem;

      p {
        margin-top: 3rem;
      }
    }
  }

  .footContainer {
    .footBox1 {
      h1 {
        font-size: 5rem;
      }
      p {
        padding: 5rem;
      }
    }
  }
}
