* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-overflow-style: none; /*  IE & Edge  */
  scrollbar-width: none; /*  firefox  */
}
* ::-webkit-scrollbar {
  display: none;
}

body {
  cursor: none;
}

#circularcursor {
  background: #5b78c7;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.headerSection {
  width: 100%;
  height: 15vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.94);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 1;
}
.headerSection .naviLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 50%;
  height: 100vh;
  right: 0;
  text-align: center;
  justify-content: space-evenly;
  list-style: none;
  background: rgb(91, 120, 199);
  opacity: 0;
  clip-path: circle(200px at 140% -5%);
  -webkit-clip-path: circle(200px at 140% -5%);
  transition: all 0.5s ease-out;
}
.headerSection .naviLinks .navLi {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerSection .naviLinks .navLi a {
  cursor: pointer;
  font-size: 3rem;
  font-family: "Spectral", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #eceef4;
}
.headerSection .naviLinks .navLi a:hover {
  font-size: 4rem;
  font-weight: 800;
}
.headerSection .naviLinks.openNav {
  opacity: 1;
  clip-path: circle(2000px at 20% 10%);
  -webkit-clip-path: circle(2000px at 20% 10%);
  transition: all 0.5s ease-out;
  pointer-events: all;
}
.headerSection .naviLinks.closeNav {
  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: all 0.8s ease-in;
  pointer-events: none;
}
.headerSection .navSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.headerSection .navSection ul {
  display: flex;
  align-items: center;
  flex: 1;
  list-style: none;
}
.headerSection .navSection ul .logo {
  font-size: 2.5rem;
  padding: 3rem;
  font-family: "Spectral", sans-serif;
  font-weight: 700;
}
.headerSection .navSection ul .navToggle {
  margin-left: auto;
  padding: 3rem;
  z-index: 999;
}
.headerSection .navSection ul .navToggle .toggleSvg {
  cursor: pointer;
}

.intro {
  width: 100%;
  height: 100vh;
  background: #5b78c7;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: fixed;
}
.intro .introH1 {
  color: #fFF;
  font-size: 8rem;
  font-family: "Spectral", Sans-serif;
  opacity: 0;
}

.mainSection {
  width: 100%;
  height: 100vh;
  background: #fFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSection .txtArea {
  background: #fff;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Spectral", sans-serif;
}
.mainSection .txtArea .webdevTxt {
  font-size: 6.5rem;
  font-weight: 600;
}
.mainSection .txtArea .mainP {
  font-size: 6.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.aboutSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fFF;
}
.aboutSection .box1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutSection .box1 .aboutH1 {
  font-size: 6.5rem;
  font-family: "Spectral", sans-serif;
  color: #5b78c7;
}
.aboutSection .box2 {
  width: 100%;
  display: flex;
}
.aboutSection .box2 .aboutP {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2;
  font-family: "Poppins", sans-serif;
  margin: 5%;
  padding-bottom: 5%;
}

.projectSection {
  background: #fff;
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectSection .projectTxt {
  width: 100%;
}
.projectSection .projectTxt .projectH1 {
  padding: 2rem;
  font-size: 5rem;
  font-family: "Spectral", sans-serif;
  text-align: center;
  color: #5b78c7;
}
.projectSection .devTools {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem;
}
.projectSection .devTools .mainTools, .projectSection .devTools .supTools {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}
.projectSection .devTools .mainTools .svgPack, .projectSection .devTools .supTools .svgPack {
  display: flex;
  justify-content: center;
}
.projectSection .devTools .mainTools .svgPack .toolsBundle, .projectSection .devTools .supTools .svgPack .toolsBundle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.projectSection .devTools .mainTools .svgPack .toolsBundle p, .projectSection .devTools .supTools .svgPack .toolsBundle p {
  font-size: 2rem;
}

.projectCards {
  display: flex;
  width: 100%;
  height: inherit;
}
.projectCards .left {
  width: 50%;
}
.projectCards .left .detailsWrapper {
  margin: auto;
  width: 80%;
}
.projectCards .left .detailsWrapper .cards {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: start;
}
.projectCards .left .detailsWrapper .cards h1 {
  font-size: 3.5rem;
  font-family: "Spectral", sans-serif;
  color: #5b78c7;
}
.projectCards .left .detailsWrapper .cards p {
  font-size: 2.5rem;
  line-height: 2;
  font-family: "Poppins", sans-serif;
}
.projectCards .right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectCards .right .photos {
  width: 40vw;
  height: 40vw;
  background: #5b78c7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  z-index: 20;
}
.projectCards .right .photos .photo {
  position: absolute;
  width: 95%;
  height: 95%;
}
.projectCards .right .photos .photo img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.contactContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  background: #fff;
}
.contactContainer .svgContainer2 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.contactContainer .txtBox {
  width: 60%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.contactContainer .txtBox h1 {
  font-family: "Spectral", sans-serif;
  color: #5b78c7;
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.contactContainer .txtBox p {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin: 3%;
  margin-right: 5rem;
}

.footContainer {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  background: #5b78c7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.footContainer .footBox1 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footContainer .footBox1 h1 {
  color: #fFF;
  font-family: "Spectral", sans-serif;
  font-size: 6rem;
}
.footContainer .footBox1 p {
  color: #fFF;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.footContainer .footBox2 {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footContainer .footBox2 .p {
  color: #fFF;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.footContainer .footBox2 ul {
  display: flex;
  flex-direction: column;
  color: #fFF;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.footContainer .footBox2 ul .liTitle {
  font-weight: 700;
  font-size: 2rem;
}
.footContainer .footBox2 ul li {
  list-style: none;
  font-size: 1.5rem;
}
.footContainer .footBox2 .footCopy {
  font-family: "Spectral", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
.footContainer .footBox2 .footCopy a {
  text-decoration: none;
  color: #fFF;
}

@media screen and (max-width: 768px) {
  .headerSection .naviLinks {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */