* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-overflow-style: none; /*  IE & Edge  */
  scrollbar-width: none; /*  firefox  */
}
* ::-webkit-scrollbar {
  display: none;
}

.navContainer {
  width: 100vw;
  height: 15vh;
  background: #eceef4;
  position: fixed;
}
.navContainer .naviLinks {
  display: flex;
  flex-direction: column;
  background: rgb(91, 120, 199);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(91, 120, 199, 0.3);
  width: 50%;
  right: 0;
  height: 100vh;
  position: absolute;
  text-align: center;
  list-style: none;
  z-index: 999;
  opacity: 1;
  clip-path: circle(600px at 300% 50%);
  -webkit-clip-path: circle(600px at 300% 50%);
  transition: all 0.5s ease-out;
}
.navContainer .naviLinks .navLi {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navContainer .naviLinks .navLi a {
  cursor: pointer;
  font-size: 3rem;
  font-family: "Spectral", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #eceef4;
}
.navContainer .naviLinks .navLi a:hover {
  font-size: 4rem;
  font-weight: 800;
}
.navContainer .naviLinks.openNav {
  opacity: 1;
  clip-path: circle(2000px at 80% 50%);
  -webkit-clip-path: circle(2000px at 80% 50%);
  pointer-events: all;
}
.navContainer .naviLinks.closeNav {
  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: all 0.5s ease-in;
  pointer-events: none;
}
.navContainer nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navContainer nav ul {
  display: flex;
  flex: 1;
  font-size: 3rem;
}
.navContainer nav ul .logo {
  font-size: 2.5rem;
  padding: 3rem;
  font-family: "Spectral", sans-serif;
  font-weight: 700;
}
.navContainer nav ul .navToggle {
  margin-left: auto;
  padding: 3rem;
  z-index: 999;
}
.navContainer nav ul .navToggle .toggleSvg {
  cursor: pointer;
}
.navContainer nav ul li {
  list-style: none;
}

.landingContainer {
  pointer-events: none;
  background: #eceef4;
  width: 100vw;
  height: 100vh;
}
.landingContainer .landing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
}
.landingContainer .landing .landingSpan {
  font-size: 6.5rem;
  font-weight: 600;
  pointer-events: all;
}
.landingContainer .landing .txtarea {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Spectral", sans-serif;
  border: 2px solid lightgreen;
}
.landingContainer .landing .txtarea h1 {
  font-size: 6.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.aboutContainer {
  width: 100vw;
  height: 100vh;
  background: #eceef4;
  display: flex;
  flex-direction: column;
}
.aboutContainer .abtBox1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutContainer .abtBox1 h1 {
  font-size: 5rem;
  font-family: "Spectral", sans-serif;
}
.aboutContainer .abtBox2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.aboutContainer .abtBox2 p {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  font-family: "Poppins", sans-serif;
  margin: 8%;
  padding-bottom: 5%;
}

.projectContainer {
  background: #eceef4;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectContainer .projectTxt {
  width: 100%;
}
.projectContainer .projectTxt h1 {
  padding: 2rem;
  font-size: 3rem;
  font-family: "Spectral", sans-serif;
  text-align: center;
}
.projectContainer .devTools {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem;
}
.projectContainer .devTools .mainTools, .projectContainer .devTools .supTools {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.projectContainer .devTools .mainTools .svgPack, .projectContainer .devTools .supTools .svgPack {
  display: flex;
  justify-content: center;
}
.projectContainer .devTools .mainTools .svgPack .toolsBundle, .projectContainer .devTools .supTools .svgPack .toolsBundle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.projectContainer .devTools .mainTools .svgPack .toolsBundle p, .projectContainer .devTools .supTools .svgPack .toolsBundle p {
  font-size: 2rem;
}
.projectContainer .projectCards {
  display: flex;
  gap: 4rem;
  align-items: center;
  flex-direction: column;
  border: 5px solid teal;
  height: 100%;
  width: 100%;
}
.projectContainer .projectCards .cards {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212838;
  background: #eceef4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.projectContainer .projectCards .cards .cardPic {
  width: 100%;
  height: 50%;
}
.projectContainer .projectCards .cards .cardPic img {
  width: 100%;
  height: 100%;
}
.projectContainer .projectCards .cards .cardDisc {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  text-align: start;
}
.projectContainer .projectCards .cards .cardDisc h2 {
  font-family: "Spectral", sans-serif;
  font-size: 3rem;
}
.projectContainer .projectCards .cards .cardDisc p {
  font-size: 2rem;
  width: 70%;
  line-height: 2;
  font-family: "Poppins", sans-serif;
}
.projectContainer .projectCards .cards .cardDisc .projBtn {
  font-family: "Spectral", sans-serif;
  font-size: 1rem;
  width: 100px;
  height: 40px;
  background: rgba(236, 238, 244, 0.34);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.projectContainer .projectCards .cards .cardDisc .projBtn:hover {
  background: rgba(91, 120, 199, 0.93);
  color: #eceef4;
}
.projectContainer .projectCards .flipIt {
  flex-direction: row-reverse;
}

.contactContainer {
  width: 100vw;
  height: 40vh;
  background: #eceef4;
}
.contactContainer .txtBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contactContainer .txtBox h1 {
  font-family: "Spectral", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.contactContainer .txtBox p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.footContainer {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #5b78c7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.footContainer ul {
  display: flex;
  align-items: center;
}
.footContainer ul li {
  list-style: none;
  padding: 0.5rem;
}
.footContainer ul .socials:hover, .footContainer ul a:hover {
  fill: #d40f0f;
}
.footContainer .footCopy {
  font-family: "Spectral", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
.footContainer .footCopy a {
  text-decoration: none;
  color: #eceef4;
}

@media screen and (max-width: 768px) {
  .navContainer .naviLinks {
    width: 100%;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
  }
  .navContainer .naviLinks.openNav {
    opacity: 1;
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
  }
  .navContainer .naviLinks.openNav .navLi.fade {
    transition: all 0.4s ease 0.2s;
  }
  .landingContainer .landing {
    width: 100%;
    height: 100%;
  }
  .landingContainer .landing .txtarea {
    width: 80%;
    height: 55%;
  }
  .landingContainer .landing .txtarea h1 {
    font-size: 4rem;
  }
  .landingContainer .landing .txtarea span {
    font-size: 4rem;
  }
  .aboutContainer .abtBox1 h1 {
    font-size: 3.5rem;
  }
  .aboutContainer .abtBox2 p {
    font-size: 1.6rem;
    margin: 2%;
  }
  .projectContainer .projectTxt h1 {
    font-size: 2.5rem;
  }
  .projectContainer .devTools {
    flex-direction: column;
  }
  .projectContainer .devTools .mainTools, .projectContainer .devTools .supTools {
    flex-direction: column;
  }
  .projectContainer .devTools .mainTools .svgPack, .projectContainer .devTools .supTools .svgPack {
    flex-direction: column;
  }
  .projectContainer .devTools .mainTools .svgPack .toolsBundle, .projectContainer .devTools .supTools .svgPack .toolsBundle {
    flex-direction: column;
  }
  .projectContainer .devTools .mainTools .svgPack .toolsBundle p, .projectContainer .devTools .supTools .svgPack .toolsBundle p {
    font-size: 1rem;
  }
  .projectContainer .projectCards {
    height: 100%;
  }
  .projectContainer .projectCards .cards {
    flex-direction: column;
    height: 500px;
  }
  .projectContainer .projectCards .cards .cardPic {
    width: 100%;
  }
  .projectContainer .projectCards .cards .cardDisc {
    width: 100%;
  }
  .projectContainer .projectCards .cards .cardDisc h2 {
    font-size: 2.5rem;
  }
  .projectContainer .projectCards .cards .cardDisc p {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=styles.css.map */